{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>About</h1>
    <p>
        Aplikacija online-racun omogućava izradu i vođenje racuna online bez ikakve papirologije. 
    </p>

    <a href="{{ path('AppBundle_Welcome_homepage') }}">Back to home</a>
{% endblock content %}
