{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i><a href="{{path('AppBundle_Administration_home')}}">Administracija</a>
        </li>
        <li class="active">
            <i class="fa fa-file"></i>Izdani računi
        </li>
    </ol>
    <div class="row administration-title">
        <div class="form-group col-md-4">
            <input type="text" placeholder="Pretraživanje po nazivu" class="form-control" id="usr">
        </div>
        <a href="{{path('AppBundle_Invoices_addInvoice')}}"><button type="button" id="addOneItem" class="btn btn-lg btn-info col-md-2 col-md-offset-5">
            Unesi novog
        </button></a>
    </div>

    <div class="row">
        <ul class="list-group col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Redni broj</th>
                        <th>Broj računa</th>
                        <th>Datum izdavanja</th>
                        <th>Ukupni iznos</th>
                        <th>Operater</th>
                        <th>Status računa</th>
                        <th>Način plaćanja</th>
                        <th>Opcije</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </ul>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent() }}

{% endblock %}