{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Upravitelj računima
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Sučelje</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Rezultati
                        </li>
                    </ol>
                </div>
            </div>

    <div class="row">
        <ul class="list-group col-md-6">
            <button type="button" id="addOneItem" class="btn btn-md btn-info">Unesi novi račun</button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Redni broj</th>
                        <th>Broj računa</th>
                        <th>Datum izdavanja</th>
                        <th>Iznos</th>
                        <th>Operater</th>
                        <th>Tip računa</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- {% for result in results %} -->

                    <!-- {% endfor %} -->
                </tbody>
            </table>
        </ul>
    </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent() }}
<script src="{{ asset('js/vendors/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/formsAdd.js') }}"></script>

{% endblock %}